
# BEGIN Robin Image Optimizer Webp
# ההוראות (שורות) בין "BEGIN Robin Image Optimizer Webp" לבין "END Robin Image Optimizer Webp" הן
# נוצר באופן דינמי, ויש לשנות אותן רק באמצעות פילטרים של וורדפרס.
# כל שינוי בהוראות בין סממנים אלה ידרס.

# END Robin Image Optimizer Webp
# BEGIN ShortPixelWebp
# ההוראות (שורות) בין "BEGIN ShortPixelWebp" לבין "END ShortPixelWebp" הן
# נוצר באופן דינמי, ויש לשנות אותן רק באמצעות פילטרים של וורדפרס.
# כל שינוי בהוראות בין סממנים אלה ידרס.

# END ShortPixelWebp